@using MudBlazor
@using Senswave.Web.Devices.Integration
@inject IDialogService DialogService

<MudContainer MaxWidth="MaxWidth.Medium"
              Style="height: 100%; display: flex; flex-direction: column; padding: 0">
    <div style="@GetGridStyle()" class="flex-grow-1">
        @foreach (var posWidget in PositionedWidgets)
        {
            var calcWidget = CalculatedWidgets.FirstOrDefault(w => w.Id == posWidget.WidgetId);
            if (calcWidget == null) continue;

            <SensWidget Widget="calcWidget"
                        Position="posWidget"
                        @bind-EditMode="EditMode"
                        OnDelete="@(() => ConfirmUnlink(calcWidget))" />
        }

        @if (EditMode && !SelectionMode)
        {
            @for (int r = 0; r < Rows; r++)
            {
                @for (int c = 0; c < Columns; c++)
                {
                    @if (!IsOccupied(r, c))
                    {
                        <MudButton style="@($"grid-row: {r + 1}; grid-column: {c + 1};")"
                             class="d-flex align-center justify-center border-2 border-dashed mud-border-lines-default rounded-lg"
                             OnClick="() => StartAddWidget(r, c)">
                            <MudIcon Icon="@Icons.Material.Filled.Add" Color="Color.Primary" Opacity="0.5" />
                        </MudButton>
                    }
                }
            }
        }

        @if (SelectionMode)
        {
            @*TODO: If initial add element selected - the display element with button that can shring and extend selected are - selected area should be displayed and accessible to parent component through paramerter*@
        }


    </div>
</MudContainer>

@code {

    private bool SelectionMode { get; set; } = false;

    [Parameter] public bool EditMode { get; set; }
    [Parameter] public EventCallback<bool> EditModeChanged { get; set; }
    [Parameter] public string Id { get; set; } = string.Empty;
    [Parameter] public string Name { get; set; } = string.Empty;
    [Parameter] public int Rows { get; set; } = 6;
    [Parameter] public int Columns { get; set; } = 4;
    [Parameter] public List<PositionedWidgetDto> PositionedWidgets { get; set; } = [];
    [Parameter] public List<CalculatedWidgetDto> CalculatedWidgets { get; set; } = [];

    [Parameter]
    public Func<string, CalculatedWidgetDto, Task> OnUnlinkWidget { get; set; } = default!;

    [Parameter]
    public Func<string, string, int, int, int, int, Task> OnAddWidget { get; set; } = default!;

    private string GetGridStyle() => $@"
        display: grid;
        grid-template-rows: repeat({Rows}, 1fr);
        grid-template-columns: repeat({Columns}, 1fr);
        gap: 6px;
        height: calc(100% - var(--mud-appbar-height));
        width: 100%;
        position: relative;
    ";

    private bool IsOccupied(int row, int col) =>
        PositionedWidgets.Any(w => row >= w.Row && row < w.Row + w.RowSpan &&
                                   col >= w.Column && col < w.Column + w.ColumnSpan);

    private async Task ConfirmUnlink(CalculatedWidgetDto widget)
    {
        await OnUnlinkWidget(Id, widget);
    }

    private string WidgetId { get; set; } = string.Empty;
    private int Row { get; set; }
    private int Column { get; set; }
    private int RowSpan { get; set; }
    private int ColumnSpan { get; set; }

    private async Task StartAddWidget(int row, int col)
    {
        Row = row;
        Column = col;

        var dialog = await DialogService.ShowAsync<SelectWidgetDialog>(
                    "Select Widget to Place",
                    new DialogOptions
                    {
                        MaxWidth = MaxWidth.Medium,
                        FullWidth = true,
                        CloseOnEscapeKey = true
                    });

        var result = await dialog.Result;

        if (!result.Canceled)
        {
            // var credentials = (RequestCredentialsDialog.BrokerCredentials)result.Data;
            WidgetId = string.Empty;
            SelectionMode = true;
        }
        else
        {
            SelectionMode = false;
        }
    }

    private async Task FinalizeAddWidget()
    {
        await OnAddWidget(Id, WidgetId, Row, RowSpan, Column, ColumnSpan);
    }
}