@page "/"
@attribute [Authorize]

@using Senswave.Web.Services.Shared.Loading

@inject ILoadingService loadingService

<PageTitle>Home</PageTitle>


<h1>Hello, world!</h1>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Loading">Primary</MudButton>


@code {

    void Loading()
    {
        if (loadingService.Loading)
        {
            loadingService.StopLoading("test");
        }
        else
        {
            
            loadingService.StartLoading("test");
        }
    }

}